// SCSS Variables for spacing sizes
$spacing-sizes: (
  0: 0,
  0_5: 0.125rem,
  // Equivalent to 0.5
  1: 0.25rem,
  1_5: 0.375rem,
  // Equivalent to 1.5
  2: 0.5rem,
  2_5: 0.625rem,
  // Equivalent to 2.5
  3: 0.75rem,
  3_5: 0.875rem,
  // Equivalent to 3.5
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem,
  44: 11rem,
  48: 12rem,
  52: 13rem,
  56: 14rem,
  60: 15rem,
  64: 16rem,
  72: 18rem,
  80: 20rem,
  96: 24rem,
);

// Generate padding utilities
@each $key, $value in $spacing-sizes {
  .p-#{$key} {
    padding: $value;
  }

  .pt-#{$key} {
    padding-top: $value;
  }

  .pr-#{$key} {
    padding-right: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .pl-#{$key} {
    padding-left: $value;
  }

  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// Generate margin utilities
@each $key, $value in $spacing-sizes {
  .m-#{$key} {
    margin: $value;
  }

  .mt-#{$key} {
    margin-top: $value;
  }

  .mr-#{$key} {
    margin-right: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .ml-#{$key} {
    margin-left: $value;
  }

  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

// Auto margin utility (center element horizontally)
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Generate negative margin utilities
@each $key, $value in $spacing-sizes {
  .-m-#{$key} {
    margin: -$value;
  }

  .-mt-#{$key} {
    margin-top: -$value;
  }

  .-mr-#{$key} {
    margin-right: -$value;
  }

  .-mb-#{$key} {
    margin-bottom: -$value;
  }

  .-ml-#{$key} {
    margin-left: -$value;
  }

  .-mx-#{$key} {
    margin-left: -$value;
    margin-right: -$value;
  }

  .-my-#{$key} {
    margin-top: -$value;
    margin-bottom: -$value;
  }
}


.menu-toggle-icon {
  position: fixed;
  // left: 236px;
  // top: 7rem;
  left: 20px;
  top: 1.5rem;

  z-index: 1000;
  // background-color: #fff;
  border-radius: 20px;
  background-color: var(--color-black);
  cursor: pointer;

  i {
    padding: 5px;
    color: #fff;
  }

  &:hover {
    background-color: var(--color-black);

    i {
      color: #fff;
    }
  }
}

.toogle-static-inactive {
  // left: 3.5em;
  left: 20px;
  transition: left $transitionDuration;
}

.acitve-menu-title {
  color: var(--text-white);
  font-weight: 600;
}

.profile-icon-setting span {
  display: block !important;
}

.custom-dialog {
  .p-header {
    padding: 10px 15px;
  }

  .p-dialog-footer {
    padding: 10px 15px;
  }
}

.p-avatar-text {
  display: block !important;
}

.headerless {
  .p-datatable-thead {
    background-color: #000000;
    border-bottom: 1px solid var(--primary-color) !important;
  }

  .p-datatable-header {
    padding: 0.5rem;
    border: none !important;
    background: none !important;
  }

  thead th {
    border: none !important;
    background: none !important;
    padding: 0px;
    padding-top: 1px;
  }

  td {
    padding: 0.5rem 0.5rem !important;
  }
}

.panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 100vh;
  /* Full viewport height */
}

.left-panel {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.right-panel {
  box-sizing: border-box;
  position: absolute;
  z-index: 111;
  right: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.split .left-panel {
  // width: 60%;
}

.split .right-panel {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mobile-split {

  .left-panel {
    width: 100%;
  }

  .right-panel {
    width: 100vw;
    z-index: 1111;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
  }

  .p-toggleable-content {
    height: auto;
  }
}

.center-pos {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Full viewport height
  width: 100%; // Full viewport width
}

.sub-heading {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
}

.sub-text {
  margin: 0;
  font-size: 10px;
}

.sub-desc {
  // margin: 0;
  font-size: 10px;
}

.p-button:enabled:focus {
  box-shadow: none !important;
}

.footer-panel {
  background-color: #f9fafb;
  border-top: 1px solid lightgray;
}

.red {
  color: red;
}

.delete-dialog {
  .p-dialog-content {
    padding: 0px;
  }
}

.p-dialog-footer {
  margin: 0px;
  padding: 1px;
  border-top: 1px solid lightgray;
}

.custom-panel {
  .p-panel-header {
    border-radius: 0px;
    padding: 1rem;
  }

  .p-panel-content {
    border-radius: 0px;
    border-bottom: 0px;
  }
}

.ellipsis-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.full-width-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
}

.full-width-panel {
  width: 100%;
  max-width: 800px;
  /* Adjust max width as needed */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel-content {
  flex: 1;
  /* Makes the content area expand to fill available space */
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
}

.panel-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: right;
  /* Align buttons to the right */
}

.p-datatable-header {
  background-color: #fff;
  border: none;
  padding-left: 0px;
}

.custom-table {
  td {
    padding: 1rem 0.5rem !important;
  }

  .p-selection-column {
    padding: 0.5rem 1rem !important;
  }
}

.p-button-rounded {
  height: 2rem;
  width: 2rem;
  padding: 0;
  align-self: center;
}

.primary-text-color {
  color: var(--primary-color);
}

.reckitt-tree {
  padding: 0;
  border: none;
}

.object-fit-contain {
  object-fit: contain;
}

.fullscreen-dialog .p-dialog {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  border-radius: 0px !important;
  z-index: 11111;
}

.fullscreen-dialog {
  background-color: '#121212'
}

.fullscreen-dialog {

  .p-dialog-header,
  .p-dialog-footer,
  .p-dialog-content {
    border-radius: 0px !important;
  }

  .p-dialog-header {
    // border-bottom: 1px solid #1f1f1f!important;
    padding: 1rem 0.5rem !important;
  }

  .p-dialog-content {
    padding: 0px !important;
  }
}


.crud-panel .p-dialog {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  border-radius: 0px !important;
  z-index: 11111;
}

.crud-panel {
  .p-dialog-content {
    padding-top: 1rem !important;
  }

  .p-dialog-header {
    padding: 1rem !important;
  }
}

.text-white {
  color: var(--secondary-color);
}

.custom-menu-item {
  i {
    color: var(--text-white);
  }

  span {
    color: #6c757d;
  }
}

.pl-30 {
  padding-left: 30px !important;
}

.mobile-sidebar-logo-img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: var(--text-white);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.placeholder {
  border: 1px dashed lightgray !important;
  border-radius: 4px;
}

.reckitt-table-container {
  padding: 0px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

.reckitt-table {

  .p-datatable-header,
  .p-treetable-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .p-column-filter-menu-button,
  .p-column-filter-clear-button {
    display: none !important;
  }

  thead tr:nth-of-type(2) th {
    padding: 5px !important;
  }

  .p-datatable-tbody>tr>td,
  .p-treetable-tbody>tr>td {
    padding: 0.5rem 1rem !important;
  }

  .p-paginator {
    background-color: #f9fafb !important;
  }

  .p-datatable-thead {
    background-color: #000000 !important;
  }
}

.p-datatable-emptymessage td {
  height: 100px !important;
  text-align: center !important;
}


// add-field-btn

.custom-add-field-button .p-button-label {
  color: #64748B;
}

.custom-add-field-button .p-button-icon {
  color: var(--color-primary);
  // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  background-color: #F2A2CB33;
  padding: 4px;
  border-radius: 4px;
}

.custom-add-field-button:hover {
  background-color: #ffff;
}

// .pi.pi-check {
//   color: green;
//   font-size: 1.5rem;
//   cursor: pointer;
// }

// .pi.pi-times {
//   color: red;
//   font-size: 1.5rem;
//   cursor: pointer;
// }

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(100%);
    opacity: 1;
  }
}

//mulitinput

.p-multiselect:not(.p-disabled):hover {
  border-color: var(--primary-color);
}

.mx-collapsed {
  margin-left: 0.45rem !important;
  margin-right: 0.25rem !important;
}

.mx-default {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.p-datatable-wrapper {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.dashboardButton {
  background: var(--primary-color);

}

.border-round-5xl {
  border-radius: 2.5rem;
}

.score-bg {
  background-color: #F8FAFC;
}

.bgActiveBtn {
  background: linear-gradient(89.58deg, #333333 0.36%, #666666 104.39%);

}

.graphColorRed {
  background-color: #FD837A;
}

.graphColorGreen {
  background-color: #78C47B;
}

.graphColorYelloow {
  background-color: #FFE434;
}

.graphColorBlue {
  background-color: #3A60F8;
}

.bgActiveBtnText {
  color: white !important;
}

// .h-31rem{
//   height: 31.5rem;
// }

.custom-dropdown .p-dropdown-label,
.custom-dropdown .p-dropdown-trigger {
  color: white !important;
}

.custom-div {
  width: 300px;
  /* Set width */
  height: 300px;
  /* Set height */
  background-color: #2196f3;
  /* Blue color */
  border-radius: 20px;
  /* Rounded corners */
  position: relative;
  clip-path: (50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 50% 20%);
  color: white;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-div::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 0 0% 20% 0%;
  top: 0;
  left: 0px;
}

.good-text {
  color: #4CAF50;
}

.completed {
  background-color: #2196F3;
}

.pending {
  background-color: #FFA600;
}

.inProgress {
  background-color: #4CAF50;
}

.critical {
  background-color: #F44336;
}

.improvement {
  background-color: #FF9800;
}

.good {
  background-color: #4CAF50;
}

.excellent {
  background-color: #2196F3;
}

.bg-primary-main {
  background-color: var(--primary-color) !important;
}

.border-primary-main {
  border-color: var(--primary-color) !important;
}

.text-primary-main {
  color: var(--primary-color) !important;
  ;
}

.text-active {
  color: #15B097;
}

.no-background-tooltip::before {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: black;
  /* Adjust text color */
}

//task mapping fitler 
.filters-container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.filters-container-visible {
  opacity: 1;
  transform: translateY(0);
}


//fade in fade out transition

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.p-dialog {
  animation: fadeIn 0.3s ease-out !important;
}

.p-dialog-mask-leave {
  animation: fadeOut 0.3s ease-in forwards;
}

//checkbox - checked row colgroup
.p-datatable .p-datatable-tbody>tr.p-highlight {
  background-color: #ffe2e2;
  color: #000;
}

.bg-primary-light-main {
  background-color: #ffe2e2 !important;
}



// div::-webkit-scrollbar {
//   height: 3px;
// }

// div::-webkit-scrollbar-track {
//   background: #f1f5f9;
//   border-radius: 3px;
// }

// div::-webkit-scrollbar-thumb {
//   background: #cbd5e1;
//   border-radius: 3px;
// }

// div::-webkit-scrollbar-thumb:hover {
//   background: #94a3b8;
// }

/* Add highlight effect for editable fields */
.p-highlight {
  transition: all 0.2s;
  // box-shadow: 0 0 0 1px #6366F1;
}

/* Add hover effect for non-editable fields */
div[style*="cursor: pointer"]:hover {
  background-color: #f5f5f5;
}

/* Style for the input field in edit mode */
.p-inputtext:focus {
  box-shadow: 0 0 0 1px #6366F1;
  border-color: #6366F1;
}



// Custom button styles
.p-button-label {
  font-weight: 500 !important;
}


/* Target only the specific table */
.marketing-details-table.p-datatable-sm .p-datatable-thead>tr>th {
  padding: 1rem 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}


.details-card.card {
  padding: 1px;
}



// tab view details page

/* Style the nav container */
.pill-tabview .p-tabview-nav {
  border: none;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
}

/* Unselected tab */
.pill-tabview .p-tabview-nav-link {
  border: none;
  background: transparent;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  color: #6b7280;
  /* Gray-500 */
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Selected tab */
.pill-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 2px solid var(--primary-color);
  /* Pink-500 */
  color: var(--primary-color);
  font-weight: 700;
  background-color: white;
}

/* Remove bottom border line */
.pill-tabview .p-tabview-nav::before {
  display: none !important;
}

.pill-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}

/* Remove outline on focus */
.pill-tabview .p-tabview-nav-link:focus {
  box-shadow: none;
}

.pill-tabview .p-highlight {
  box-shadow: none;
}



//master sub tabView
.master-sub-tabview .p-tabview-nav {
  background-color: #ffff;
  /* Dark background for the tab bar */
  border: none;
  border-radius: 8px;
  // padding: 0.25rem;
  display: flex;
  gap: 2;
  /* Or 'flex' if you want it to take available width */
  margin: 0 0 1.5rem 0;
  padding: 0;
  // flex-wrap: wrap; 
}

.master-sub-tabview .p-tabview-nav li .p-tabview-nav-link {
  // color: #adb5bd;
  background-color: transparent !important;
  border: none !important;
  border-radius: 1rem;
  padding: 8px 12px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  white-space: nowrap;
}

.master-sub-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link:hover {
  background-color: #495057 !important;
  color: #f8f9fa;
}

.master-sub-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #212529 !important;
  /* Or your preferred active color */
  color: #ffffff !important;
  font-weight: 600;
}

.master-sub-tabview .p-tabview-ink-bar {
  display: none !important;
  /* Hide PrimeReact's default indicator */
}

.master-sub-tabview .p-tabview-panels {
  padding: 0;
  /* Content components might have their own padding */
}

.master-sub-tabview .p-tabview-title {
  font-weight: 400;
  font-size: small;
}


.master-sub-tabview .p-highlight {
  box-shadow: none;
}


/* Custom Tooltip container */
.p-tooltip {
  background: transparent !important;
  padding: 8px 12px !important;
  border-radius: 8px !important;
  font-size: 10px !important;
  font-weight: 500;
  max-width: 250px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: scale(0.95);

}

.p-tooltip.p-tooltip-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.p-tooltip .p-tooltip-text {
  background-color: var(--primary-color) !important;
  /* Your desired background */
  color: #ffffff !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.custom-panel-viewaccounts .p-panel-content {
  background-color: #F8FAFC;
}

.custom-panel-viewaccounts.p-panel .p-panel-header {
  border: 1px 1px 0px 1px solid #E5E7EB !important;
  border-bottom: none !important;
}


//topmenu highlight on select
.active-menu-item {
  // background-color: var(--primary-color) !important;
  background-color: #e9f2fb;
  // color: white !important;
}

// .active-menu-item .p-menuitem-icon {
//     color: white !important;
// }

.active-submenu-item {
  background-color: rgba(0, 0, 0, 0.1) !important;
  font-weight: bold !important;
}

.p-menu .p-menuitem-content {
  font-size: 10px !important;
  background-color: red !important;
}

//apptopmenu 
.p-submenu-list .p-menuitem .p-menuitem-link {
  font-weight: 400;
}

.p-button.p-button-outlined {
  color: var(--primary-color) !important;
}

 .p-submenu-list {
    z-index: 5 !important;
 }
//input fields panel
.input-fields-add-new{
  background-color: #F8FAFC;
}

//import export black btn
.custom-black-text .p-button-label {
    color: #121212 !important;
    font-weight: 700 !important;
}

.custom-black-text.p-button.p-button-outlined{
  color: #121212 !important;
  font-weight: 700 !important;
}

.save-btn{
  background-color: #415A6C !important;
  color: white;
  border: none;
}

.cancle-btn-outline{
  background-color: transparent;
  border: 1px solid #415A6C;
  color: #415A6C;
  font-weight: bold !important;
}